<div class="querybox" id="<%= query[:name] %>">
  <%= form_tag("/query/#{query[:action]}", :remote => true, :update => "#{query[:name]}result") do %>
    <h3><%= query[:name] || query[:action] %></h3>

    <% if query[:input] %>
      <% query[:input].each do |input| %>
        <%= label_tag input[:name] %>
        <%= text_field_tag input[:name], input[:example] %>
      <% end %>
    <% end %>

    <%= submit_tag "Run!" %>

    <div class="result">
    </div>

  <% end %>
</div>
