<!DOCTYPE html>
<html>
<head>
  <title>Rails SQL Injection Examples</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function() {
      $(".querybox").bind("ajax:success", function(evt, data, status, xhr){
          $(this).find('.result').show().html(xhr.responseText);
      });

      $("#clear").click(function() {
        $(this).find('.result').hide().empty();
      });
    });
  </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Inject Some SQL</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Clear Results", "", :id => "clear" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
